.head {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.search-wrapper {
  margin-left: 20px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 17px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
